html {
    font-size: 625%;
}

body {
    min-width: 320px;
    background: #d2ebe9;
}

/* 页面通用自体颜色 */

.green {
    color: #1f9d92;
}

.blue {
    color: #296996;
}

/* 主体宽度自适应 */

main {
    margin: 90px auto 0;
    padding: 0 50px;
}
@media screen and (max-width: 767px) {
    main{
        margin-top: 8px;
    }
}
@media screen and (max-width: 500px) {
    main {
        width: 99%;
        padding: 0;
    }
}

@media screen and (min-width: 768px) {
    main {
        width: 90%;
    }
}

@media screen and (min-width: 996px) {
    main {
        width: 85%;
    }
}

@media screen and (min-width: 1170px) {
    main {
        width: 80%;
    }
}

/* 轮播图 */

.carousel-inner img {
    width: 100%;
    height: 60vh;
}
/* 箭头 */
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    left: 20px;
}
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-right {
    right: 20px;
}
/* .glyphicon-chevron-left:before,.glyphicon-chevron-right:before {
    content: none;
}
.glyphicon-chevron-left,.glyphicon-chevron-right{
    visibility: visible;
    display: inline-block;
    width: 26px;
    height: 26px;
    border-top: 7px solid #353535;
    border-right: 7px solid #353535;
    transform: rotate(-135deg);
    margin-left: -30px!important;
}
.glyphicon-chevron-right{
    transform: rotate(45deg);
    margin-right: -30px!important;
} */

/* 轮播点 */
.carousel-indicators li {
    border-radius: 0;
    border-color: #000;
}
/* 轮播到的点 */
.carousel-indicators .active {
    background: #000;
}

.rightdot {
    right: 0;
    left: auto;
}

.carousel-control {
    color: #111;
}

.carousel-control:hover {
    color: #000;
}

/* 主体内容 */

/* 为什么要让孩子学习编程 */
@media screen and (min-width: 1600px) {
    .why-img{
        width: 210px;
    }
}

/* 绿色小短线 */
.line {
    display: inline-block;
    width: 30px;
    height: 3px;
    background: #d2ebe9;
}

.main-top-bottom {
    width: calc( 100% + 60px);
    color: #266996;
    background: #ccbecf;
}

.main-middle-bottom {
    background: #ccbecf;
}

/* 大标题 */

@media screen and (max-width: 768px) {
    .title>img {
        display: none;
    }
    .titleText {
        font-size: 20px;
    }
    .title-box {
        margin: 20px 0;
    }
}



.black-tech img {
    width: 100%;
    border-radius: 10px;
}

/* 中间三个电话号码 */

span.phone {
    white-space: nowrap;
    margin-right: 15px;
}

/* 绿色小方块 */

.dot {
    float: left;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #1f9d92;
    margin-left: -20px;
    margin-top: 5px;
}
/* 游戏、视频 */
.scratch img {
    position: relative;
    top: 20px;
}
.game {
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
}
.game .bottom {
    position: relative;
    padding: 12px 12px 12px 32px;
    margin-bottom: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #d2ebe9;
}


/* 为什么选择编程王 */

@media screen and (min-width: 768px) {
    .mm-row-t,
    .mm-row-b,
    .classroom {
        display: flex;
        align-items: center;
    }
    .classroom-left{
        width: 100%;
        padding-left: 15px;
    }
    /* 图片文字焕位置 */
    .mm-row-b {
        flex-direction: row-reverse;
    }
    .mm-text-t,
    .mm-text-b {
        padding: 0 95px;
    }
    .mm1,
    .mm2 {
        max-width: 3rem;
    }
    .mm1{
        padding-right: 65px;
    }
    .mm2{
        padding-left: 65px;
    }
}
@media screen and (min-width: 1600px){

}
/* 人物介绍 */
.photo,.message{
    width: 1.7rem;
}
.message-t,.message-b{
    font-family: 微软雅黑,Microsoft YaHei;
}
.message-m{
    font-family: 黑体,SimHei;
}
@media screen and (max-width: 991px){
    .message{
    margin-left: auto;
    margin-right: auto;        
    }
}
@media screen and (min-width: 768px){
    .message-row{
        padding-left: 80px;
        padding-right: 80px;
    }
    .message1{
        margin-right: auto;
    }
    .message3{
        margin-left: auto;
    }
}
@media screen and (min-width: 1600px){
    .mm1{
        padding-right: 150px;
    }
    .mm2{
        padding-left: 150px;
    }
    .mm-text-t,.mm-text-b{
        padding-left: 165px;
        padding-right: 165px;
    }
    .message-row{
        padding-left: 150px;
        padding-right: 150px;
    }
}
/* 课程体系 */

.class-item {
    width: 2rem;
    height: 2rem;
    margin: .2rem auto;
}

@media screen and (max-width: 991px) {
    .pen {
        display: none;
    }
}
/* 有趣的课堂内容 */

.classroom {
    background: #d2ebe9;
    margin: .4rem .3rem;
    line-height: 2;
}

.classroom img {
    width: 100%;
}
.classroom-left{
    max-width: 5rem;
    line-height: 2;
}
.classroom .dot{
    margin-top: 10px;
}
/* 黑科技延伸 */
.black-box{
    /* max-width: 2.5rem; */
    min-height: 3rem;
    margin-bottom: .4rem;
}
@media screen and (max-width: 991px){
    .black-box{
        max-width: 2.5rem;
    }
}
.black-title{
    font-family: 微软雅黑,Microsoft YaHei;
}
.black-text{
    font-family: 黑体,SimHei;
}
/* 让孩子从容面对未来 */
.future{
    background: #d2ebe9;
    box-sizing: border-box;
}
@media screen and (min-width: 992px) {
    .future-text{
        min-height: 120px;
    }
}
@media screen and (min-width: 1100px) {
    .future-text{
        min-height: 100px;
    }
}
@media screen and (min-width: 1300px) {
    .future-text{
        min-height: 80px;
    }
}
@media screen and (min-width: 1500px) {
    .future-text{
        min-height: 60px;
    }
}
@media screen and (min-width: 2050px) {
    .future-text{
        min-height: 50px;
    }
}
/* 锚点 */
#address,#class{
    position: absolute;
    top: -81px;
}