/* 主要适应两种宽度，<=767px || >=768px */

/* 主体路由视窗 */
@media screen and (min-width:768px) {
    .main {
        position: absolute;
        left: 250px;
        top: 56px;
        width: calc(100% - 250px);
    }
}

/* welcome欢迎页 */
.welcome-h {
    font-weight: bold;
    text-align: center;
    margin-top: 20vh;
}

/* aritcle-list列表页 */