/* 全屏背景 */
.login-box {
    min-width: 320px;
    height: 100vh;
    padding-top: calc(50vh - 150px);
    background: url(../img/bg.png) no-repeat center;
    background-size: cover;
}
/* 中间登录框 */
.login-table {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    background: rgba(256, 256, 256, .8);
}
/* 后台登录大字 */
.title {
    margin: 0;
    font-size: 30px;
    line-height: 60px;
    color: #03a9f4;
    text-align: center;
}
/* 输入框外框 */
.user-name,
.password {
    position: relative;
    margin: 20px 20px 30px;
    padding: 10px;
    background: #fff;
}
/* 输入后图标 */
.login-box img {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
}
/* 输入框 */
.login-box input {
    width: calc(100% - 60px);
    border: none;
    outline: none;
}

/* 清除Chrome浏览器表单自动填充默认样式 */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #333;
}
/* 按钮 */
.login-btn {
    margin: 20px;
    width: calc(100% - 40px);
    background: blue;
    padding: 8px;
    border: none;
    color: white;
}
/* 登录提示 */
.login-prompt{
    position: absolute;
    left: 0;
    top:calc(100% + 5px);
    z-index: 1;
    color: red;
    font-size: 14px;
}