* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

ul {
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #ccc;
    position: relative;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #fff;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px
}

.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}
/* 折叠列表 */
.submenu {
    display: none;
    background: #777;
    font-size: 14px
}

.submenu li {
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 12px;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease
}

.submenu a:hover {
    font-weight: bold;
}

/* 顶部导航 */
.navbar-expand-md {
    border-bottom: 1px solid #ccc;
}
/* 右边用户名，注销 */
.user-out{
    margin-left: auto;
}
/* 小屏侧边栏 */

@media screen and (max-width: 767px) {
    .navbar-expand-md .navbar-collapse {
        margin-top: 8px;
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .user-out{
        width: 100%;
        text-align: right;
        margin-top: 8px;
    }
}

/* 宽屏侧边栏 */

@media screen and (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        display: block !important;
        position: absolute;
        left: 0px;
        width: 250px;
        top: 56px;
        height: calc( 100vh - 56px);
    }
}

.accordion li:first-child .link {
    border-top: 1px solid #ccc;
}